<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.calc.finanziellefreiheitrechner">
    <uses-permission android:name="none">
    </uses-permission>
    <permission android:name="none"
        tools:ignore="ExtraText"
        android:protectionLevel="signature">
    </permission>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
    <activity android:name="info.calc.finanziellefreiheitrechner.MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <!-- Own AdMoB App IDD: ca-app-pub-4473032816994536~3065911530 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4473032816994536~3065911530" />
    </application>
</manifest>

